<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bky.dao.BoardMapper">
	<resultMap type="com.bky.model.Board" id="BoardResult">
		<id property="id" column="id"/>
		<result property="boardName" column="boardName"/>
		<result property="context" column="context"/>
		<result property="creteDate" column="creteDate"/>
		<result property="updateDate" column="updateDate"/>
	</resultMap>
	<select id="selectList" resultMap="BoardResult">
		select * from board
	</select>
</mapper>